* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: aliceblue;
}

body {
  background-image: url('./images/potn7vwaxyj91.webp');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  align-items: center;
}/* :) */

header section img {
  width: 40px;
  margin-left: 20px;
}

#trybewarts-header-title {
  font-size: xx-large;
}

h2 {
  font-family: Inknut Antiqua, serif;
}

.trybewarts-login {
  display: flex;
  font-family: Inknut Antiqua, serif;
}


.trybewarts-login input {
  height: 30px;
  width: 120px;
  margin-right: 15px;
  border-radius: 5px;
  border: none;
  font-family: Inknut Antiqua, serif;
}

#button-login {
  height: 30px;
  width: 120px;
  border: none;
  border-radius: 5px;
  margin-right: 15px;
  font-family: Inknut Antiqua, serif;
}

.trybewarts-login #button-login {
  background-color: blueviolet;
}

main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#evaluation-form {
  align-items: center;
  flex-direction: column;
  width: 675px;
  display: flex;
}

#name-form {
  width: 100%;
  margin-top: 30px;
}

#name-form > input {
  width: 45%;
  height: 30px;
  border: none;
}

#input-email {
  width: 45%;
  height: 30px;
  border: none;
}

#email-house {
  width: 100%;
  margin-top: 10px;
}

#email-house > label > select {
  width: 40%;
  height: 30px;
  border: none;
}

#evaluation-form hr {
  margin-top: 30px;
  border: 0.4px solid grey;
  width: 100%;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-top: 70px;
  margin-left: 30px;
}

.selects {
  display: flex;
  font-weight: 900;
  margin: 20px 0;
}

.family-question {
  width: 60%;
  display: flex;
}

#radios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#radios > div {
  margin-top: 10px;
  display: flex;
  justify-content: baseline;
}

#checkbox {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

#label-content {
  width: 100%;
  margin-left: 20px;
}

#checkbox > div {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  margin-left: 40px;
  padding: 5px;
  row-gap: 15px;
  column-gap: 2px;
  justify-content: baseline;
}

#evaluation {
  display: flex;
  width: 100%;
  margin: 20px 0;
  justify-content: space-between;
  font-weight: 900;
}

.textarea {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: 900;
}

#text-area {
  width: 100%;
  display: flex;
  position: relative;
}

#text-area textarea {
  width: 100%;
  resize: none;
  height: 100px;
  border-color: blueviolet;
  border-radius: 5px;
}

#text-area p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
}

#agree {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

#agree label {
  font-weight: 900;
  font-size: larger;
}

#button-container {
  width: 100%;
}

#button-container button {
  width: 100%;
  height: 50px;
  background-color: blueviolet;
  font-weight: 900;
  font-size: larger;
  border: none;
  border-radius: 5px;
  font-family: Inknut Antiqua, serif;
}

footer {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: 900;
  background-color: gray;
  margin: 20px 0 0;
}
